#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 20px 80px;
}

#columLogo {
  display: flex;
  flex-direction: column;
}

.footerLogo {
  width: 120px;
  margin-bottom: 30px;
  margin-top: 8px;
}

.addressBox {
  font-size: 10px;
  line-height: 15px;
}

// Footer Navigation
#footerNav {
  padding: 10px;
}

.menuBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navi2 {
  margin-right: 40px;
}

.navi2:last-child {
  margin-left: 0;
}

.navi2 h3 {
  font-size: 15px;
}


// Footer Social Media
.footerSocial {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.follow h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.socialBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 5px;
}

.socialBox img {
  height: 20px;
}

.socialItem {
  margin-right: 15px;
}

.socialItem:last-child {
  margin-top: 3px;
}

// news

.news h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.newsInput {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.newsInput input {
  height: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.newsInput img {
  margin-top: 5px;
  width: 20px;
}

.underline {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1; 
}