#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

#headNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 130px;
  margin-left: 10px;
  margin-top: 5px;
}

.navi {
  margin-left: 50px;
  margin-top: 12px;
}

.navi h3 {
  font-size: 15px;
}

.headRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headButton {
  margin-top: 12px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.headButton a {
  font-size: 10px;
  padding: 8px 30px;
  border-radius: 5px;
  border: 1.5px solid gray;
  font-weight: 500;
}

#headIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  margin-top: 10px;
}

.icon img {
  width: 25px;
  height: 25px;
}


