@media only screen and (min-width: 768px) and (max-width: 1024px) {
  // header
  .tablet {
    display: none;
  }

  #header {
    display: flex;
    flex-direction: row;
  }

  .headButton {
    margin-left: 20px;
  }

  .hbg {
    display: inline-block;
    margin-right: 10px;
    margin-top: 7px;
  }

  .hbg img {
    width: 30px;
    height: 30px;
  }

  // body
  //section1

  #section1 .secButton {
    display: inline-block;
    position: relative;
    bottom: 20%;
    left: 40%;
  }

  //section2
  #section2 {
    margin-top: 100px;
  }

  #section2 h2 {
    border: none;
    margin-bottom: 10px;
  }
  
  #secBox {
    display: flex;
    justify-content: center;
  }

  .sec2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }

  .arrowIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 180px;
  }

  .arrowIcon img {
    width: 30px;
    height: 30px;
  }

  .arrowIcon {
    margin-right: 20px;
  }

  .arrowIcon2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 180px;
  }

  .arrowIcon2 img {
    width: 30px;
    height: 30px;
  }

  .arrowIcon2 {
    margin-left: 20px;
  }

  // Section3 
  #section3 {
    margin: 100px 80px;
  }

  .threeButton {
    max-width: 100%;
  }
  










}


@media only screen and (min-width: 320px) and (max-width: 768px) {
  // header
  .tablet {
    display: none;
  }
}
